.button{
    height: 38px;
    font-size: 20px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    text-transform: uppercase;
    padding: 0 30px;
    color: white;
}
.button:hover{
    background-color:#91918d;
}

#game-page{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
#users-lists{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    margin: 15px;
}
#game-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 5px;
    width: 600px;
    height: 600px;
}
#start-game{
    margin:20px;
    justify-content: center;
    align-items: center;
}
#timerForStart{
    font-size: 30px;
}
#game-fill{
    display: block;
}
.user{
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: 90px;
    font-size: 20px;
    border: 1px solid black;
}
.statusCircle{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.status-bar-wrapper{
    margin: 5px;
    display: block;
    position: relative;
    width: 60%;
    height: 30px;
    border: 1px solid black;
}
.status-bar{
    display: block;
    height: 28px;
    position: absolute;
    background-color: greenyellow;
}
#gameTimer{
    width: 100px;
    height: 100px;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}
nav{
    display: inline-block;
    width:auto;
    height: 22px;
}
pre{
    display: inline-block;
    width:auto;
    height: 22px;
}
.userResult{
    display: block;
    height: 30px;
}

